{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
<style>
  .progress-bar {
    width: {{ progress_percentage }}%;
    height: 100%;
    background-color: #066DFE;
    border-radius: {% if progress_percentage == 100 %}7px{% else %}7px 0px 0px 7px{% endif %};

}
</style>
<div class="main-container">
    <div class="progress-text">単語 {{ index }} / {{ total }}</div>
    <button class="next-arrow" onclick="refreshPage()"><i class="fas fa-chevron-right"></i></button>
        <div class="image-container" draggable="false">
            <div class="card">
                <div class="front" onclick="flipCard()">
                    {% load static %}
                    <img draggable="false" src="{% static '/images/elephant.png' %}">
                </div>
                <div class="back" onclick="flipCard()">
                    <h1>{{ jp_word }}</h1>
                    <button class="playback-button" onclick="playAudio(event)"> <i class="fa-solid fa-volume-high"></i></button>
                </div>

            </div>

        </div>
    <div id="answerContainer" class="list-group answer-container" ondragend="generateAnswerText()">
    </div>
        <div class="text-container" >音節：</div>
    <div id="wordContainer" class="list-group">
        {% for parts in syllables  %}
          <div class="list-group-item">{{ parts }}</div>
        {% endfor %}
    </div>
    <div class="progress-container">
        <div class="progress-bar"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
    Sortable.create(answerContainer, {
      group: "sorting",
      sort: true
    });

    Sortable.create(wordContainer, {
      group: "sorting",
      sort: true
    });

    const audio = new Audio('https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3');

    function playAudio(event) {
      event.stopPropagation();
      audio.pause();
      audio.currentTime = 0;
      audio.play();
    }

    function generateAnswerText() {
        const elements = document.querySelector(".answer-container").children;
        let combinedText = '';
        for (let i = 0; i < elements.length; i++) {
            combinedText += elements[i].innerText;
        }

        const expectedLength = {{ answer_length }};

        if (combinedText.length === expectedLength) {
            fetch("/syllableconnect/check-answer", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ answer: combinedText })
            })
            .then(response => response.json())
            .then(data => {
                if (data.is_correct === true) {
                    window.alert("Great Job! You did it!");
                    document.querySelector(".next-arrow").style.display = "block";
                } else {
                    window.alert("Not quite right, try again!");
                }
            });
        }
    };

    function flipCard(event) {
        const card = document.querySelector('.card');

        if (card.style.transform === 'rotateY(180deg)') {
            card.style.transform = 'rotateY(0deg)';
        } else {
            card.style.transform = 'rotateY(180deg)';
        }
    };

    function refreshPage() {
      window.location.reload();
    }


</script>
{% endblock %}
