.main-container {
  margin: auto;
  height: 95vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ECFAE5;
  border-radius: 10px;
  box-shadow:
    inset 0 -3em 3em #DDF6D2,
    0 0 0 5px #CAE8BD,
    0.4em 0.4em 1.1em #B0DB9C;
}


.list-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8fafc;
  width: 50%;
  height: 15%;
  border: 2px solid #cbd5e1;
  border-width: 3px;
  border-radius: 8px;


}

.list-group-item {
  display: inline-block;
  color: white;
  list-style-type: none;
  align-content: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
  background-color: #6366f1;
  min-width: 12%;
  width: fit-content;
  height: fit-content;
  border: 2px solid;
  border-radius: 8px;
  min-height: inherit;
  text-align: center;
  padding: 0.5vh;
}

.image-container {
  margin: 1% 0% 1% 0%;
  border-radius: 2rem;
  height: 50%;
  width: 40%;
  perspective: 800px;
}

.image-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}
.card {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  background-color: lightgrey;
  border-radius: 2rem;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.answer-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 15%;
  border: dashed #dedfe6;
  border-width: 3px;
  border-radius: 10px;
}

.text-container {
  display: block;
  align-self: normal;
  padding-left: 20%;
  height: 5%;
  font-size: x-large;
}

.image-container img {
  height: 100%;
  width: 100%;
}

.next-arrow {
  position: absolute;
  top: 40%;
  right: 12%;
  height: 20%;
  width: 5%;
  font-size: 4rem;
  border: solid 10px black;
  border-radius: 100px;
  display: none;
}

.next-arrow:hover {
  background-color: #B0DB9C;
}

.progress-text {

}

.progress-container {
  display: flex;
  width: 50%;
  height: 1%;
  border: solid 2px black;
  background-color: #E7F1FF;
  }

  .progress-bar {
  width: 12%;
  height: 100%;
  background-color: #066DFE;
  }